<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>删除属性</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap4.min.css}" />
    <link rel="stylesheet" th:href="@{/css/animate.min.css}" />
    <script type="text/javascript" th:src="@{/js/jquery.min.js}" ></script>
    <script type="text/javascript" th:src="@{/js/bootstrap4.min.js}" ></script>
    <script type="text/javascript" th:src="@{/js/wow.js}" ></script>
</head>
<body>
<p>删除成功</p>
</body>
</html>